<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body> 
    
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit Researchers</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    <div style="text-align: center;">
                        <input type="text" name="Researcher ID" id="researcher_id" readonly></br>
                        <input type="text" name="First Name" id="first_name"></br>
                        <input type="text" name="Last Name" id="last_name"></br>
                        <input type="text" name="Gender" id="gender"></br>
                        <input type="text" name="Birth Date" id="birth_date"></br>
                        <input type="text" name="Email" id="email">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="modal-form" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
      
        </div>
    </div>

    <%- include("includes/navbar.ejs")%>

    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <div class="card" id="card-container">
                    <div class="card-body" id="card">
                    <% if (researchers.length == 0) { %> 
                        <h1 style="margin-top: 5rem;">No Researchers found!</h1>
                    <% } else { %>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Researchers ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Gender</th>
                                        <th>Birth Date</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% researchers.forEach((researchers, _) => { %>
                                        <tr>
                                            <td><%= researchers.researcher_id %></td>
                                            <td><%= researchers.first_name %></td>
                                            <td><%= researchers.last_name %></td>
                                            <td><%= researchers.gender %></td>
                                            <td><%= researchers.birth_date %></td>
                                            <td><%= researchers.email %></td>
                                            <td>
                                                <a type="button" onclick="setModalFields(this)"
                                                    data-toggle="modal" 
                                                    data-researcher_id="<%= researchers.researcher_id %>"
                                                    data-first_name="<%= researchers.first_name %>" 
                                                    data-last_name="<%= researchers.last_name %>"
                                                    data-gender="<%= researchers.gender %>" 
                                                    data-birth_date="<%= researchers.birth_date %>"
                                                    data-email="<%= researchers.email %>" 
                                                    data-target="#editModal">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <form method="POST" action="/researchers/delete/<%= researchers.researcher_id %>">
                                                <td> 
                                                    <button style="all: unset; cursor: pointer;" type="submit"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </form>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function setModalFields(row) {
            document.getElementById("researcher_id").value = row.dataset.researcher_id;
            document.getElementById("first_name").value = row.dataset.first_name;
            document.getElementById("last_name").value = row.dataset.last_name;
            document.getElementById("gender").value = row.dataset.gender;
            document.getElementById("birth_date").value = row.dataset.birth_date;
            document.getElementById("email").value = row.dataset.email;

            document.getElementById("modal-form").action = "/researcher_id/update/" + row.dataset.researcher_id;
            document.getElementById("modal-form").method = "POST";
        }
    </script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/assets/js/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>



</body>

</html>